# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
.env/
.env

.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd

# Poetry
.venv/
.poetry/

# Tests
__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
htmlcov/

.pkl
.npz

/app/static
/archive